.signup {
    display:inline-block;
    width: 20%;
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 25%;
}

.get {
    display: inline-block;
    width: 30%;
    position: absolute;
    top:15%;
    bottom: 15%;
    right:25%; 
    
}